body{
    background-image: url(../images/strange_bullseyes/strange_bullseyes.png);
    margin: auto 0;
}


/*   NAVBAR   */

nav {
    border-bottom: #ccc solid 2px;
    padding: 0px !important;
    background-color: #fff;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 15px;
    margin: 0;
}

nav li {
    margin: 8px;
}

a {
    color: #777777
}




/*   MAIN   */

.main {
    margin: 15px;
    background-color: #fff;
    padding: 20px;
}





/*   FOOTER   */

footer {

}