body{
    background-image: url(../images/strange_bullseyes/strange_bullseyes.png);
    margin: auto 0;
    color: #777;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-bottom: 0px;
}

.main {
    margin: 15px;
    background-color: #fff;
    padding: 20px;
}

hr {
    width: 100%;
    border: #ccc solid 1px;
    margin-top: 0px;
}



/*   NAVBAR   */

.full-length {
    background-color: #fff;
    padding: 0px;
    border-bottom: #ccc solid 2px;
}

nav {
    padding: 0px !important;
    background-color: #fff;

}

.navbar-brand {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 15px;
    margin: 0;
}

nav li {
    padding: 8px;
    border-right: #ccc solid 1px;
}

nav li:last-child {
    border: none;
}

a {
    color: #777777
}

.active {
    border-bottom: #4aaaa5 solid 2px;

}



/*   FOOTER   */

#everythingButFooter {
    min-height: calc(100vh - 50px);
}

footer {
    height: 40px;
    font-size: 10px;
    padding-top: 10px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 6px #4aaaa5 solid;
}










/*   ABOUT - INDEX.HTML  */


#goLow {
    padding-top: 170px;
}

#profile-pic {
    padding-bottom: 10px;
}

#profile-info {
    margin-top: 28px;
}








/*   PORTFOLIO.HTML   */

.cardcol {
    padding: 0px;
}

.card {
    margin: 10px;
}

.card-img-overlay {
    padding: 0px;
    margin-bottom: 15px;
}

.card p {
    background-color: #4aaaa5;
    width: 100%;
    padding: 10px;
    margin: 0px;
}

#p1 {
    background-image: url('../images/SDNJ.png');
}

#p2 {
    background-image: url('https://via.placeholder.com/280x210');
}

#p4 {
    background-image: url('https://via.placeholder.com/280x210');
}

#p5 {
    background-image: url('https://via.placeholder.com/280x210');
}

#p7 {
    background-image: url('https://via.placeholder.com/280x210');
}










/*   CONTACT.HTML  */

header.col-12 {
    margin-bottom: 50px;
}

#social-media-header {
    margin-left: 18px;
    margin-top: 8px;
}

.button-row {
    margin-bottom: 50px;
    display: flex;
    justify-content: start;
}

.btn-info {
    margin: 10px 10px 10px 0px;
}

.button-row a {
    color: #fff;
}

.btn {
    background-color: #4aaaa5;
    border-radius: 0%;
    color: #fff;
    padding: 6px 20px 6px 20px;
}

.form-item {
    color: #777;
    margin-bottom: 3px;
}

.form-box {
    width: 100%;
    border: #777 1px solid;
    padding: 3px;
    margin-bottom: -3px;
}










/*   MEDIA QUERIES   */

@media screen and (max-width: 767px) {

    .main {
        margin: 0px !important;
    }

    nav {
        margin: 0 auto;
    }

    .card {
        width: 100%;
    }
}